/.idea/
/.vs/
/TimotheeTheoSpotifyApp/TimotheeTheoSpotifyApp/bin/
/TimotheeTheoSpotifyApp/TimotheeTheoSpotifyApp/obj/
/TimotheeTheoSpotifyApp/TimotheeTheoSpotifyApp.Droid/obj/
/TimotheeTheoSpotifyApp/TimotheeTheoSpotifyApp.Droid/bin/
/TimotheeTheoSpotifyApp/TimotheeTheoSpotifyApp.iOS/obj/
/TimotheeTheoSpotifyApp/TimotheeTheoSpotifyApp.iOS/bin/